<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="net2Host" value="localhost"/>
		<add key="net2HostPort" value="8025"/>
		<add key="net2OperatorId" value="-2"/>
		<add key="net2OperatorPassword" value="net2"/>
		<add key="net2OxHackAccessLevelId" value="3"/>

		<add key="oxhackDepartmentName" value="Oxford Hackspace"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
